.navbar
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 45px !important;
}

/* .navbar-nav > li{
  padding-left:100px;
  padding-right:100px;
} */

/* .ins
{
  font-size: medium;
} */
